/* copy paste warning */
div.listingblock.copypaste div.content pre.highlight {
  border: 1px solid #FF0000
}

.navbar.navbar-default.navbar-openshift.navbar-origin {
  background:
    linear-gradient(
      rgba(0, 61, 110, 0.34),
      rgba(0, 61, 110, 0.34)
    ),
    url("../_images/origin-masthead.jpg") 20% 25% repeat-x;
  background-size: 150rem;
  border: 0;
  height: 90px;
}

.navbar.navbar-default.navbar-openshift .navbar-brand.origin {
  background: url("../_images/origin_logo.png") no-repeat scroll 0% 95%;
  background-size: 140px;
  margin-left: 20px;
}

/* Tweaks for the Google-generated search widget */
.cse .gsc-control-cse, .gsc-control-cse, table.gsc-search-box td.gsc-input {
  padding: 0;
}

td.gsc-clear-button {
  display: none;
}

div.gsc-option-menu-container > div.gsc-selected-option-container {
  width: auto !important
}

a.workshop > div.panel:hover,
a.workshop > div.panel:active,
.workshop-block > a > div.panel:hover,
.workshop-block > a > div.panel:active {
  background-color: #d9f0fc;
}

a.workshop:hover,
a.workshop:active,
.workshop-block > a:hover,
.workshop-block > a:active {
  text-decoration: none;
  color: #000;
}

.workshop-block > h3 {
  margin-bottom: 30px;
}

div.module-prerequisites {
  background-color: #fffbdd;
  padding: 20px 40px 10px;
  border: 1px solid #ecdb56;
}


/* ------------------------------------------------------------
Image: "Spin" https://www.flickr.com/photos/eflon/3655695161/
Author: eflon https://www.flickr.com/photos/eflon/
License: https://creativecommons.org/licenses/by/2.0/
---------------------------------------------------------------*/
.attribution {
  text-align: center;
  position: relative;
  bottom: -20px;
}
.attribution .btn {
  color: #808080;
  color: rgba(175,175,175, .65);
  font-size: 11px;
}
.attribution .btn:hover {
  text-decoration: none;
  color: #aaa;
}
.popover-content {
  font-size: 12px;
  line-height: 1.3;
  font-weight: normal;
}

/* Footer Edits 12/11/2015 */
@media screen and (max-width: 768px) {
  .footer-openshift {
      height: 190px;
  }
}
.footer-openshift a {
  top: 0;
  margin-left: 0;
}
.footer-origin-docs {
  padding: 20px;
  color: #ccc;
  background-color: #1b2a38;
  border: none;
  height: auto;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer-origin-docs a {
  text-decoration: none;
}
#footer_social {
  text-align: center;
  margin: 10px 0 20px;
}
#footer_social a {
  margin: 0 10px;
}

#footer_logo {
  margin-left: 0;
}
#powered_by_openshift img {
  text-align: center;
}
#built_with_asciibinder img {
  width: 140px;
}
@media screen and (min-width: 769px) {
 body {
   margin-bottom: 200px;
 }
}
@media screen and (max-width: 768px) {
  body, html {
    overflow-x: hidden;
    height: 100%;
    margin-bottom: 0;
  }
  .sidebar {
    border-right: 1px solid #e7e7e7;
    background: #fff;
  }
  .footer-origin-docs,
  .footer-openshift {
    display: none; /* hide absolute positioned footer at mobile */
  }
  .visible-xs-block .footer-origin-docs,
  .visible-xs-block .footer-openshift {
    /* show alternate footer positioned relative at mobile */
    display: block;
    position: relative;
    margin-top: 50px;
  }
  footer {
    text-align: center;
  }
  footer img {
    margin: 10px 0;
  }
  footer .text-right {
    text-align: center !important;
  }
  #footer_social > a {
    top: 24px;
  }
}

/* End footer edits */


.fa-inverse:hover {
  color: #ccc;
}

.breadcrumb {
  margin: 0;
  padding: 3px 0 20px;
}

@media screen and (min-width: 768px) {
  .breadcrumb {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 0;
  }
}

.collapse a.active {
  background-color: #DEEAF4;
  color: #000;
  position: relative;
}

.collapse a.active:hover {
  text-decoration: none;
}

.collapse a.active:before {
  background-color: #A0C3E5;
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

.main h2, .main .h2 {
  border-top: 0px;
  padding-top: 10px;
}

.page-header {
  height: 100% !important;
}

.page-header h1 {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: inherit;
  color: inherit;
  margin: 40px 0 10px 0;
  padding: 10px 0 0 0;
}

.ulist p,
.olist p {
  margin-bottom: 1em;
}

.nav > li  > a.hover{
  background-color: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  position: relative;
}

h2 > a.anchor, h3 > a.anchor, h4 > a.anchor, h5 > a.anchor, h6 > a.anchor {
  display: block;
  font-weight: normal;
  margin-left: -1.5ex;
  position: absolute;
  text-align: center;
  text-decoration: none !important;
  visibility: hidden;
  width: 1.5ex;
  z-index: 1001;
}

h2 > a.anchor:before, h3 > a.anchor:before, h4 > a.anchor:before, h5 > a.anchor:before, h6 > a.anchor:before {
  content: "\f0c1";
  display: block;
  font-family: FontAwesome;
  font-size: 0.7em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 0.2em;
}

h4 > a.anchor:before, h5 > a.anchor:before, h6 > a.anchor:before {
  font-size: 1em;
}

h2:hover > a.anchor,
h2 > a.anchor:hover,
h3:hover > a.anchor,
h3 > a.anchor:hover,
h4:hover > a.anchor,
h4 > a.anchor:hover,
h5:hover > a.anchor,
h5 > a.anchor:hover,
h6:hover > a.anchor,
h6 > a.anchor:hover {
  visibility: visible;
}

.main {
  border-left: 1px solid #e7e7e7;
  margin-left: -1px;
  padding-left: 25px;
}


@media (min-width: 768px) {
  .main {
    padding-left: 30px;
  }
}

/*
 * Sidebar
 */

.nav-header {
  font-size: 16px;
}

.nav-header ul {
  font-size: 14px;
}

.nav-header ul li a {
  display: block;
  padding: 5px 20px 5px 25px;
  font-size: 13px;
  font-weight: normal;
}

.nav-sidebar .fa {
  text-align: center;
  top: -1px;
  width: 14px;
}

.nav-sidebar li a {
  color: inherit;
}

.nav-sidebar li a:hover {
  color: #000;
}

.nav-sidebar ul li ul.nav-tertiary li a {
  padding-left: 50px;
}

.nav-sidebar > li > a {
  padding: 7px 0;
}

.nav-sidebar > li > a:focus, .nav-sidebar > li > a:hover {
  background: transparent;
}

.sidebar {
  font-weight: 300;
  display: none;
  padding-top: 13px;
}

@media screen and (max-width: 767px) {
  .sidebar {
    padding-left: 30px;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    border-right: 1px solid #e7e7e7;
    display: block;
  }
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

body, html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.toggle-nav {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -75%; /* 8 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -75%; /* 8 columns */
  }

  .row-offcanvas-right.active {
    right: 75%; /* 8 columns */
  }

  .row-offcanvas-left.active {
    left: 75%; /* 8 columns */
  }

  .sidebar-offcanvas {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 75%; /* 8 columns */
  }
}

 p {
  margin: 0 0 1.6em;
 }