<div id="module">
    <div class="row">
        <div class="col-sm-12">
            <nav class="breadcrumb">
                <a class="breadcrumb-item" href="#/">Workshops</a>
                <a class="breadcrumb-item" v-bind:href="'#/workshop/' + workshop.id">{{ workshop.name }}</a>
                <span class="breadcrumb-item active">{{ modules[module].name }}</span>
            </nav>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block" style="padding: 3rem;">
                    <p class="card-text" v-html="content"></p>
                    <a v-bind:href="'#/workshop/' + workshop.id + '/module/' + prevModule" v-if="prevModule != null" class="btn btn-primary">Previous module</a>
                    <a v-bind:href="'#/workshop/' + workshop.id" class="btn btn-primary">Back to module list</a>
                    <a v-bind:href="'#/workshop/' + workshop.id + '/module/' + nextModule" v-if="nextModule != null" class="btn btn-primary">Next module</a>
                </div>
            </div>
        </div>
    </div>
</div>